<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <%- include('../../partials/header') -%>
    <%- include('../../partials/styles') -%>
</head>

<body>
    
    
    <h1>This is home page</h1>


    <%- include('../../partials/scripts') -%>
</body>
</html>

